---
import { Icon } from 'astro-icon';

const {
	label = 'Toggle Menu',
	class: className = 'ml-1.5 text-white focus:outline-none text-sm p-2.5 inline-flex items-center transition',
	iconClass = 'w-10 h-10',
	iconName = 'tabler:menu',
} = Astro.props;
---

<button id="menu-toggle" type="button" class={className} aria-label={label} data-aw-toggle-menu>
	<Icon name={iconName} class={iconClass} optimize={false} />
</button>
