---
import { colorize } from '~/utils/colorizer';
export interface Props {
	title: string;
	id: string;
	color: 'purple' | 'blue' | 'pink';
}
const { title, id, color } = Astro.props;
const colTitle = colorize(title);

const bgGradients = {
	purple: 'bg-gradient-to-b from-purple-50 to-purple-200',
	blue: 'bg-gradient-to-b from-sky-50 to-sky-200',
	pink: 'bg-gradient-to-b from-pink-50 to-pink-200',
};
const topColors = {
	purple: 'fill-purple-50',
	blue: 'fill-sky-50',
	pink: 'fill-pink-50',
};
const bottomColors = {
	purple: 'fill-purple-200',
	blue: 'fill-sky-200',
	pink: 'fill-pink-200',
};

let top = topColors[color];
let bg = bgGradients[color];
let bottom = bottomColors[color];
---

<div class="-mt-28 w-full">
	<svg xmlns="http://www.w3.org/2000/svg" class="w-full -mb-0.5" viewBox="0 0 1367.743 181.155">
		<path
			id="top-wave"
			class={`${top} w-full`}
			width="100"
			data-name="top-wave"
			d="M0,0S166.91-56.211,405.877-49.5,715.838,14.48,955.869,26.854,1366,0,1366,0V115H0Z"
			transform="translate(-0.5 66.155)"></path>
	</svg>
</div>
<section
	id={id}
	class={`relative min-h-fit flex flex-col items-center gap-4 space-y-3 scroll-mt-24 px-4 pb-8 sm:px-6 mx-auto lg:px-8 lg:pb-16 ${bg}`}
>
	<div class="flex flex-col items-center gap-4">
		<slot name="eyebrow" />
		<h2
			class="text-6xl md:text-8xl font-extrabold tracking-wider text-center font-['AwesomeNewbie']"
			set:html={colTitle}
			style="text-shadow: 1px 1px 3px #6B7280;"
		>
		</h2>
	</div>
	<p class="text-blue-900 font-bold text-2xl md:text-3xl text-center max-w-2xl">
		<slot name="lead" />
	</p>
	<slot />
	<div style="" class="absolute bottom-0 translate-y-[99%] w-full -mt-2">
		<svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 1367.7 181.2">
			<path
				id="bottom-wave"
				class={`${bottom} w-full`}
				width="100"
				data-name="bottom-wave"
				d="M1367.7,131.1c0,0-166.9,56.2-405.9,49.5s-310-64-550-76.4S1.7,131.1,1.7,131.1v-115h1366V131.1z"
				transform="translate(-1 -20.155)"></path>
		</svg>
	</div>
</section>
