---
import { Image } from '@astrojs/image/components';
import ContentPattern from '~/components/widgets/ContentPattern.astro';

import a1 from '~/assets/images/facility/classroom_1.jpeg';
import a2 from '~/assets/images/facility/classroom_2.jpeg';
import a3 from '~/assets/images/facility/classroom_3.jpeg';
import a4 from '~/assets/images/facility/classroom_4.jpeg';

import b1 from '~/assets/images/facility/playground_1.jpeg';
import b2 from '~/assets/images/facility/playground_2.jpeg';
import b3 from '~/assets/images/facility/playground_3.jpeg';
import b4 from '~/assets/images/facility/playground_4.jpeg';

import c1 from '~/assets/images/facility/sensory_1.jpeg';
import c2 from '~/assets/images/facility/sensory_2.jpeg';
import c3 from '~/assets/images/facility/sensory_3.jpeg';
import c4 from '~/assets/images/facility/sensory_4.jpeg';

const classes = {
	fade: {
		startLeft:
			'transition duration-[5000ms] ease-in-out object-cover object-center rounded-lg mx-auto md:float-left md:mr-6 mb-2 p-1 bg-white',
		itemLeft:
			'transition duration-[5000ms] ease-in-out absolute inset-0 object-cover object-center rounded-lg mx-auto md:float-left md:mr-6 mb-2 p-1 bg-white opacity-0',
		startRight:
			'transition duration-[5000ms] ease-in-out object-cover object-center rounded-lg mx-auto md:float-right md:ml-6 mb-2 p-1 bg-white',
		itemRight:
			'transition duration-[5000ms] ease-in-out absolute inset-0 object-cover object-center rounded-lg mx-auto md:float-right md:ml-6 mb-2 p-1 bg-white opacity-0',
	},
};
---

<ContentPattern title="Our Facility" id="facility" pattern="dots" color="pink">
	<Fragment slot="lead">
		BLT is conveniently located on 1st Street directly across from the local Primary School building in Sergeant Bluff,
		Iowa! Our facility was extensively renovated from 2021 to 2022 to create a child-focused environment that encourages
		our children to grow, develop and be their best. Our facility includes five beautiful classrooms, over 6,000 square
		feet of playground for children as young as 6 months, and a sensory room for children with special and unique needs.
	</Fragment>
	<!-- cards -->
	<div class="relative group container max-w-4xl mx-auto">
		<div
			aria-hidden="true"
			class="absolute top-0 w-full h-full rounded-2xl bg-[#FF81A3] shadow-md shadow-gray-500 transition duration-500 scale-[1.01] group-hover:scale-105 lg:group-hover:scale-110"
		>
		</div>
		<div class="relative p-6 space-y-6 md:gap-6 justify-center md:space-y-0 lg:items-center">
			<div id="classroom-photo" class="relative md:float-left">
				<Image src={a4} width={320} height={240} alt="bluffs little thinkers classroom" class={classes.fade.itemLeft} />
				<Image src={a3} width={320} height={240} alt="bluffs little thinkers classroom" class={classes.fade.itemLeft} />
				<Image src={a2} width={320} height={240} alt="bluffs little thinkers classroom" class={classes.fade.itemLeft} />
				<Image
					src={a1}
					width={320}
					height={240}
					alt="bluffs little thinkers classroom"
					class={classes.fade.startLeft}
				/>
			</div>
			<span>
				<h3 class="text-3xl my-2 font-bold text-white text-center">Newly Renovated Classrooms</h3>
				<p class="text-lg text-blue-50 text-center md:text-start md:px-4 pb-2 md:pt-4">
					Bluff’s Little Thinkers is an early childhood education program providing a safe and nurturing environment
					while promoting the physical, social, emotional, and cognitive development of young children. To achieve this,
					we provide high-quality, age-appropriate items within our classrooms and environment. Teachers engage with
					children and use learning strategies tailored to the age and development of each child to help them thrive. In
					2021, classrooms were extensively renovated with all new flooring, furnishings, rugs, and many other learning
					environment additions.
				</p>
			</span>
		</div>
	</div>

	<div class="relative group container max-w-4xl mx-auto">
		<div
			aria-hidden="true"
			class="absolute top-0 w-full h-full rounded-2xl bg-[#2E8E00] shadow-md shadow-gray-500 transition duration-500 scale-[1.01] group-hover:scale-105 lg:group-hover:scale-110"
		>
		</div>
		<div class="relative p-6 space-y-6 md:gap-6 justify-center md:space-y-0 lg:items-center">
			<div id="playground-photo" class="relative md:float-right">
				<Image
					src={b4}
					width={320}
					height={240}
					alt="bluffs little thinkers playground"
					class={classes.fade.itemRight}
				/>
				<Image
					src={b3}
					width={320}
					height={240}
					alt="bluffs little thinkers playground"
					class={classes.fade.itemRight}
				/>
				<Image
					src={b2}
					width={320}
					height={240}
					alt="bluffs little thinkers playground"
					class={classes.fade.itemRight}
				/>
				<Image
					src={b1}
					width={320}
					height={240}
					alt="bluffs little thinkers playground"
					class={classes.fade.startRight}
				/>
			</div>
			<span>
				<h3 class="text-3xl my-2 font-bold text-white text-center">New Playground Equipment</h3>
				<p class="text-lg text-green-100 text-center md:text-start md:px-4 pb-2 md:pt-4">
					Our outdoor gross motor area was extensively renovated and expanded in 2021. We added high-quality
					custom-designed equipment and fall surfacing geared towards children 6 months to 5 years of age. Our
					playground helps children develop gross motor skills, fine motor skills, balance, spatial awareness, and
					coordination. We strive to provide ample outside time to all children daily, allowing them to receive physical
					exercise as well as unstructured playtime that is essential for the development of self-regulation skills.
				</p>
			</span>
		</div>
	</div>

	<div class="relative group container max-w-4xl mx-auto">
		<div
			aria-hidden="true"
			class="absolute top-0 w-full h-full rounded-2xl bg-[#321A81] shadow-md shadow-gray-500 transition duration-500 scale-[1.01] group-hover:scale-105 lg:group-hover:scale-110"
		>
		</div>
		<div class="relative p-6 rounded-2xl md:gap-6 justify-center md:space-y-0 lg:items-center">
			<div id="sensory-photo" class="relative md:float-left">
				<Image
					src={c4}
					width={320}
					height={240}
					alt="bluffs little thinkers sensory room"
					class={classes.fade.itemLeft}
				/>
				<Image
					src={c3}
					width={320}
					height={240}
					alt="bluffs little thinkers sensory room"
					class={classes.fade.itemLeft}
				/>
				<Image
					src={c2}
					width={320}
					height={240}
					alt="bluffs little thinkers sensory room"
					class={classes.fade.itemLeft}
				/>
				<Image
					src={c1}
					width={320}
					height={240}
					alt="bluffs little thinkers sensory room"
					class={classes.fade.startLeft}
				/>
			</div>
			<span>
				<h3 class="text-3xl my-2 font-bold text-white text-center">State-of-the-art Sensory Room</h3>
				<p class="text-lg text-blue-100 text-center md:text-start md:px-4 pb-2 md:pt-4">
					Our sensory room is a high-quality, therapeutic, safe space where our children can retreat to get a break from
					overstimulation. This space helps calm and desensitize our children, allowing them time to refocus, prepare to
					learn, and successfully interact with their peers and teachers. The sensory room is equipped with a wide range
					of specialized equipment such as a marble wall to provide a visual and hands-on soothing experience, a
					vibrating platform to provide a relaxing, calming vibration to soothe the body during sensory overload, as
					well as projectors, bubble tubes, and more. Students with autism, sensory processing disorder, ADHD, and other
					disorders have access to the sensory room as needed to help calm and regulate their emotions to be successful
					in our inclusive rich environment.
				</p>
			</span>
		</div>
	</div>
</ContentPattern>

<script>
	function photoFade(el) {
		let curIndex = 0;
		let children = el.children;
		let stop = children.length - 1;
		let delay = 0;

		function fade() {
			setTimeout(function () {
				children[curIndex].classList.add('opacity-0');

				if (curIndex == stop) {
					children[0].classList.remove('opacity-0');
				} else {
					children[curIndex + 1].classList.remove('opacity-0');
				}

				if (curIndex == stop) {
					curIndex = 0;
					delay = 5000;
				} else {
					curIndex++;
				}

				fade();
			}, delay);
		}
		fade();
	}

	(function () {
		const classroom = document.getElementById('classroom-photo');
		const playground = document.getElementById('playground-photo');
		const sensory = document.getElementById('sensory-photo');

		setTimeout(() => photoFade(classroom), 2000);
		setTimeout(() => photoFade(playground), 3500);
		setTimeout(() => photoFade(sensory), 5000);
	})();
</script>
