---
import Picture from '~/components/core/Picture.astro';
import twenty18 from '~/assets/images/2018.png'
import twenty19 from '~/assets/images/2019.png'
import twenty20 from '~/assets/images/2020.png'
import twenty21 from '~/assets/images/2021.png'
import twenty22 from '~/assets/images/2022.png'
---

<section id="flex">
	<div class="py-16 bg-purple-200">
		<div class="m-auto px-6 space-y-8 text-white md:px-12 lg:px-40">
			<div class="overflow-x-auto scrollbar-transparent lg:overflow-hidden">
				<div class="-mx-6 px-6 flex space-x-6 lg:justify-between md:space-x-12">
					<Picture src={twenty18} class="" widths={[]} sizes=" (max-width: 767px) 400px, 768px" alt="best in siouxland 2018" />
					<Picture src={twenty19} class="" widths={[]} sizes=" (max-width: 767px) 400px, 768px" alt="best in siouxland 2019" />
					<Picture src={twenty20} class="" widths={[]} sizes=" (max-width: 767px) 400px, 768px" alt="best in siouxland 2020" />
					<Picture src={twenty21} class="" widths={[]} sizes=" (max-width: 767px) 400px, 768px" alt="best in siouxland 2021" />
					<Picture src={twenty22} class="" widths={[]} sizes=" (max-width: 767px) 400px, 768px" alt="best in siouxland 2022" />
				</div>
			</div>
		</div>
	</div>
</section>




															