---
import { Icon } from 'astro-icon';
import { Image } from '@astrojs/image/components';
import ToggleMenu from '~/components/core/ToggleMenu.astro';

import heroImage from '~/assets/images/hero_image.jpeg';
import twenty18 from '~/assets/images/awards/2018.png';
import twenty19 from '~/assets/images/awards/2019.png';
import twenty20 from '~/assets/images/awards/2020.png';
import twenty21 from '~/assets/images/awards/2021.png';
import twenty22 from '~/assets/images/awards/2022.png';
---


<section id="hero" class="relative min-h-screen">
	<Image src={heroImage} alt="bluffs little thinkers" class="absolute inset-0 w-full h-full object-cover object-top" />
	<div aria-hidden="true" class="absolute inset-0 w-full h-full bg-purple-400 bg-opacity-30 backdrop-blur-sm"></div>
	<div class="relative container m-auto px-6 md:px-12 lg:px-6">
		<div class="mb-12 pt-28 space-y-14 md:mb-16 md:pt-40 lg:w-8/12 lg:mx-auto">
			<div class="flex justify-center">
				<Icon name="logomark" class="h-44 md:h-64 lg:h-72" />
			</div>
			<div class="mb-2">
				<p class="text-lg md:text-2xl lg:text-3xl text-center font-bold text-white whitespace-nowrap">
					Learning Today, Leading Tomorrow.
				</p>
			</div>
		</div>

		<div class="pb-20">
			<div class="m-auto mt-8 md:w-11/12 lg:w-8/12 xl:w-7/12">
				<div class="flex flex-wrap justify-center gap-6">
					<div class="flex items-center">
						<Image src={twenty18} width={85} alt="best in siouxland 2018" />
					</div>
					<div class="flex items-center">
						<Image src={twenty19} width={85} alt="best in siouxland 2019" />
					</div>
					<div class="flex items-center">
						<Image src={twenty20} width={85} alt="best in siouxland 2020" />
					</div>
					<div class="flex items-center">
						<Image src={twenty21} width={85} alt="best in siouxland 2021" />
					</div>
					<div class="flex items-center">
						<Image src={twenty22} width={85} alt="best in siouxland 2022" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
