---
import ContentPattern from '~/components/widgets/ContentPattern.astro';
import { Image } from '@astrojs/image/components';
import playground1 from '~/assets/images/facility/playground_1.jpg';
import playground2 from '~/assets/images/facility/playground_2.jpeg';
import sensory1 from '~/assets/images/facility/sensory_1.jpeg';
import sensory2 from '~/assets/images/facility/sensory_2.jpeg';
import classroom1 from '~/assets/images/facility/classroom_1.jpg';
import classroom2 from '~/assets/images/facility/classroom_2.jpeg';
---

<ContentPattern title="Our Facility" id="facility" pattern="dots" color="pink">
	<Fragment slot="lead">
		BLT is conveniently located on 1st Street directly across from the local Primary School building in Sergeant Bluff, Iowa! Our facility was extensively renovated from 2021 to 2022 to create a child-focused environment that encourages our children to grow, develop and be their best. Our facility includes five beautiful classrooms, over 6,000 square feet of playground for children as young as 6 months, and a sensory room for children with special and unique needs.
	</Fragment>
	<!-- <div class="m-auto md:px-12 xl:px-0">
		<div class="mx-auto grid gap-6 md:w-3/4 lg:w-full lg:grid-cols-3">
			<div class="bg-pink-300 rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
				<div class="mb-12 space-y-8">
					<h3 class="text-2xl font-semibold text-purple-900">Newly Rennovated Classrooms</h3>
					<p class="mb-6 text-lg">
						Bluff’s Little Thinkers is an early childhood educational program providing a safe and nurturing environment
						while promoting the physical, social, emotional, and cognitive development of young children. To achieve
						this latter, we provide high quality age appropriate items within our classrooms and our environment as a
						whole. Teachers engage with children and use learning strategies that are tailored to the age and
						development of each child to help them thrive. In 2021, classrooms were extensively renovated with all new
						flooring, furnishings, rugs and many other learning environment additions.
					</p>
				</div>
				<Picture
					class="object-cover object-top rounded-md shadow-lg w-full h-auto bg-gray-400 dark:bg-slate-700"
					src={classroom}
					widths={[400, 768]}
					sizes="(max-width: 768px) 100vw, 432px"
					alt="Astronaut"
					aspectRatio="1:1"
				/>
			</div>
			<div class="bg-lime-200 rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
				<div class="mb-12 space-y-8">
					<h3 class="text-2xl font-semibold text-purple-900">New Playground Equipment</h3>
					<p class="mb-6 text-lg">
						Our outdoor gross motor area was extensively renovated and expanded in 2021. We added high-quality
						custom-designed equipment and fall surfacing geared towards children ages 6 months- 5 years old. Our
						playground helps children develop gross motor skills, fine motor skills, balance, spatial awareness and
						coordination. We strive to provide ample outside time to all children daily, allowing them to not only
						receive physical exercise but also unstructured playtime that is essential for the development of
						self-regulation skills.
					</p>
				</div>
				<Picture
					class="object-cover object-top rounded-md shadow-lg w-full h-auto bg-gray-400 dark:bg-slate-700"
					src={playground}
					widths={[400, 768]}
					sizes="(max-width: 768px) 100vw, 432px"
					alt="Astronaut"
					aspectRatio="1:1"
				/>
			</div>
			<div class="bg-purple-300 rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
				<div class="mb-12 space-y-8">
					<h3 class="text-2xl font-semibold text-purple-900">State-of-the-art Sensory Room</h3>
					<p class="mb-6 text-lg">
						Our sensory room is a high quality, therapeutic space with a variety of equipment. The sensory room gives
						the children a safe space to take a break from over stimulation, refocus and be prepared for learning and
						interacting with others successfully. The sensory room is equipped with a range of specialized equipment–
						projectors, bubble tubes, a marble wall and much more provide a visual and hands on soothing experience, a
						vibrating platform that provides a relaxing and calming vibration to soothe the body during sensory overload
						and an overall space to calm and desensitize. Students with autism, sensory processing disorder, ADHD, and
						other disorders have access to the sensory room as needed to calm and regulate their emotions to be
						successful in our inclusive rich environment.
					</p>
				</div>
				<Picture
					class="object-cover object-top rounded-md shadow-lg w-full h-auto bg-gray-400 dark:bg-slate-700"
					src={sensory}
					widths={[400, 768]}
					sizes="(max-width: 768px) 100vw, 432px"
					alt="Astronaut"
					aspectRatio="1:1"
				/>
			</div>
		</div>
	</div> -->

	<div class="container max-w-4xl mx-auto">
		<div
			class="bg-pink-300 p-6 rounded-2xl shadow-md shadow-gray-500 space-y-6 md:gap-6 justify-center md:space-y-0 lg:items-center"
		>
			<Image
				src={classroom1}
				width={320}
				alt="bluffs little thinkers classroom"
				class="rounded-lg mx-auto md:float-left md:mr-6 mb-2"
			/>
			<span>
				<h3 class="text-3xl my-2 font-bold text-purple-900 text-center">Newly Renovated Classrooms</h3>
				<p class="text-lg font-semibold text-center md:text-start md:px-4 pb-2 md:pt-4">
					Bluff’s Little Thinkers is an early childhood education program providing a safe and nurturing environment while promoting the physical, social, emotional, and cognitive development of young children. To achieve this, we provide high-quality, age-appropriate items within our classrooms and environment. Teachers engage with children and use learning strategies tailored to the age and development of each child to help them thrive. In 2021, classrooms were extensively renovated with all new flooring, furnishings, rugs, and many other learning environment additions.
				</p>
			</span>
			<!-- <span class="hidden md:flex md:float-right mr-16 flex-col">
					<Image
						src={classroom2}
						width={220}
						alt="bluffs little thinkers classroom"
						class="rounded-lg shadow-md shadow-black"
					/>
				</span> -->
		</div>
	</div>

	<div class="container max-w-4xl mx-auto">
		<div
			class="bg-lime-200 p-6 rounded-2xl shadow-md shadow-gray-500 space-y-6 md:gap-6 justify-center md:space-y-0 lg:items-center"
		>
			<Image
				src={playground1}
				width={320}
				alt="bluffs little thinkers classroom"
				class="rounded-lg mx-auto md:float-right md:ml-6 mb-2"
			/>
			<span>
				<h3 class="text-3xl my-2 font-bold text-purple-900 text-center">New Playground Equipment</h3>
				<p class="text-lg font-semibold text-center md:text-start md:px-4 pb-2 md:pt-4">
					Our outdoor gross motor area was extensively renovated and expanded in 2021. We added high-quality custom-designed equipment and fall surfacing geared towards children 6 months to 5 years of age. Our playground helps children develop gross motor skills, fine motor skills, balance, spatial awareness, and coordination. We strive to provide ample outside time to all children daily, allowing them to receive physical exercise as well as unstructured playtime that is essential for the development of self-regulation skills.
				</p>
			</span>
			<!-- <span class="hidden md:flex md:float-right md:mr-24 flex-col">
					<Image
						src={playground2}
						width={250}
						alt="bluffs little thinkers classroom"
						class="rounded-lg shadow-md shadow-black"
					/>
				</span> -->
		</div>
	</div>

	<div class="container max-w-4xl mx-auto">
		<div
			class="bg-purple-300 p-6 rounded-2xl shadow-md shadow-gray-500 space-y-6 md:gap-6 justify-center md:space-y-0 lg:items-center"
		>
			<Image
				src={sensory1}
				width={320}
				alt="bluffs little thinkers classroom"
				class="rounded-lg mx-auto md:float-left md:mr-6 mb-4"
			/>
			<span>
				<h3 class="text-3xl my-2 font-bold text-purple-900 text-center">State-of-the-art Sensory Room</h3>
				<p class="text-lg font-semibold text-center md:text-start md:px-4 pb-2 md:pt-4">
					Our sensory room is a high-quality, therapeutic, safe space where our children can retreat to get a break from overstimulation. This space helps calm and desensitize our children, allowing them time to refocus, prepare to learn, and successfully interact with their peers and teachers. The sensory room is equipped with a wide range of specialized equipment such as a marble wall to provide a visual and hands-on soothing experience, a vibrating platform to provide a relaxing, calming vibration to soothe the body during sensory overload, as well as projectors, bubble tubes, and more. Students with autism, sensory processing disorder, ADHD, and other disorders have access to the sensory room as needed to help calm and regulate their emotions to be successful in our inclusive rich environment.
				</p>
			</span>
			<!-- <span class="hidden md:flex md:float-right flex-col">
					<Image
						src={sensory2}
						width={220}
						alt="bluffs little thinkers classroom"
						class="rounded-lg shadow-md shadow-black"
					/>
				</span> -->
		</div>
	</div>
</ContentPattern>
