---
import ContentPattern from '~/components/widgets/ContentPattern.astro';
import Picture from '~/components/core/Picture.astro';
/* import { Picture } from '@astrojs/image/components'; */
import playground from '~/assets/images/facility/playground_1.jpg';
import sensory from '~/assets/images/facility/sensory_1.jpg';
import classroom from '~/assets/images/facility/classroom_1.jpg';
---

<ContentPattern title="Our Facility" id="facility" pattern="dots" color="pink">
	<Fragment slot="lead">
		Located conviently on first street and directly across from the local Primary School building in Sgt Bluff, Iowa you
		can find BLT! Our facility was extensively renovated in 2021 into 2022. The goal of these renovations was to create
		a child focused facility that lets our children grow, develop and be their best. Our facility includes 5 beautiful
		classrooms, over 6,000 square feet of playground for children as little as 6 months, and a sensory room for children
		with special and unique needs.
		<!--  <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
    performance meets <span class="text-primary">powerful</span> -->
	</Fragment>
	<div class="m-auto md:px-12 xl:px-0">
		<div class="mx-auto grid gap-6 md:w-3/4 lg:w-full lg:grid-cols-3">
			<div class="bg-pink-300 rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
				<div class="mb-12 space-y-8">
					<h3 class="text-2xl font-semibold text-purple-900">Newly Rennovated Classrooms</h3>
					<p class="mb-6 text-lg">
						Obcaecati, quam? Eligendi, nulla numquam natus laborum porro at cum, consectetur ullam tempora ipsa iste
						officia sed officiis! Incidunt ea animi officiis.
					</p>
					<!-- <a
						href="#"
						class="inline-flex w-fit py-3 px-6 text-center rounded-full transition bg-blue-200 hover:bg-blue-100 active:bg-blue-300 focus:bg-blue-100 sm:w-max"
					>
						<span class="text-blue-900 font-semibold text-sm"> Learn More</span>
						<svg
							fill="none"
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							class="w-4 h-4 ml-2"
							viewBox="0 0 24 24"
						>
							<path d="M5 12h14M12 5l7 7-7 7"></path>
						</svg>
					</a> -->
				</div>
				<Picture
					class="object-cover object-top rounded-md shadow-lg w-full h-auto bg-gray-400 dark:bg-slate-700"
					src={classroom}
					widths={[400, 768]}
					sizes="(max-width: 768px) 100vw, 432px"
					alt="Astronaut"
					aspectRatio="1:1"
				/>
			</div>
			<div class="bg-lime-200 rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
				<div class="mb-12 space-y-8">
					<h3 class="text-2xl font-semibold text-purple-900">New Playground Equipment</h3>
					<p class="mb-6 text-lg">
						<!-- Our outdoor play area was expanded and upgraded in 2021. We added 6 foot privacy/security fencing, a custom
						play structure designed by our admins to suit our specific needs. Infant equipment. And 100%
						first-quality-turf coverage. -->
						Our outdoor gross motor area was extensively renovated and expanded in 2021. We added high-quality custom-designed
						equipment geared towards children ages 6 months- 5 years old. We as well installed first-quality turf on the
						playground that provides ample space and cozy surfacing for infants to enjoy tummy time in our shaded areas.
					</p>
					<!-- <a
						href="#"
						class="inline-flex w-fit py-3 px-6 text-center rounded-full transition bg-blue-200 hover:bg-blue-100 active:bg-blue-300 focus:bg-blue-100 sm:w-max"
					>
						<span class="text-blue-900 font-semibold text-sm"> Learn More</span>
						<svg
							fill="none"
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							class="w-4 h-4 ml-2"
							viewBox="0 0 24 24"
						>
							<path d="M5 12h14M12 5l7 7-7 7"></path>
						</svg>
					</a> -->
				</div>
				<Picture
					class="object-cover object-top rounded-md shadow-lg w-full h-auto bg-gray-400 dark:bg-slate-700"
					src={playground}
					widths={[400, 768]}
					sizes="(max-width: 768px) 100vw, 432px"
					alt="Astronaut"
					aspectRatio="1:1"
				/>
			</div>
			<div class="bg-purple-300 rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
				<div class="mb-12 space-y-8">
					<h3 class="text-2xl font-semibold text-purple-900">State-of-the-art Sensory Room</h3>
					<p class="mb-6 text-lg">
						Our sensory room is a high quality therapeutic space with a variety of equiptment. The sensory room gives
						the children the ability to calm down, refocus, and be prepared for learning and interacting with others
						succesfully.” The sensory room is equipped with a range of specialized equipment – projectors to  create a
						visual soothing experience to a vibrating platform, which provides a relaxing, calming vibration to calm and
						soothe the body during sensory overload.” Students with autism, sensory processing disorder, ADHD, and other
						disorders have access to the sensory room as needed to calm and regulate their emotions to be successful in
						our inclusive rich environment.
					</p>
					<!-- <a
						href="#"
						class="inline-flex w-fit py-3 px-6 text-center rounded-full transition bg-blue-200 hover:bg-blue-100 active:bg-blue-300 focus:bg-blue-100 sm:w-max"
					>
						<span class="text-blue-900 font-semibold text-sm"> Learn More</span>
						<svg
							fill="none"
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							class="w-4 h-4 ml-2"
							viewBox="0 0 24 24"
						>
							<path d="M5 12h14M12 5l7 7-7 7"></path>
						</svg>
					</a> -->
				</div>
				<Picture
					class="object-cover object-top rounded-md shadow-lg w-full h-auto bg-gray-400 dark:bg-slate-700"
					src={sensory}
					widths={[400, 768]}
					sizes="(max-width: 768px) 100vw, 432px"
					alt="Astronaut"
					aspectRatio="1:1"
				/>
			</div>
		</div>
	</div>

	<!-- <div class="container px-5 py-24 mx-auto">
			<div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
				<div class="w-32 h-32 sm:w-40 sm:h-40 sm:mr-10 inline-flex items-center justify-center rounded-md bg-indigo-100 text-indigo-500 flex-shrink-0">
					<Picture
							class="object-cover object-top rounded-md shadow-lg w-full h-auto bg-gray-400 dark:bg-slate-700"
							src={classroom}
							widths={[400, 768]}
							sizes="(max-width: 768px) 100vw, 432px"
							alt="Astronaut"
							aspectRatio="1:1"
						/>
				</div>
				<div class="flex-grow sm:text-left text-center mt-6 sm:mt-0 bg-pink-200 rounded-lg p-8">
					<h2 class="text-gray-900 text-lg title-font font-medium mb-2">Shooting Stars</h2>
					<p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
					<a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
						<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
							<path d="M5 12h14M12 5l7 7-7 7"></path>
						</svg>
					</a>
				</div>
			</div>
			<div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
				<div class="flex-grow sm:text-left text-center mt-6 sm:mt-0 bg-purple-300 rounded-lg p-8">
					<h2 class="text-gray-900 text-lg title-font font-medium mb-2">The Catalyzer</h2>
					<p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
					<a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
						<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
							<path d="M5 12h14M12 5l7 7-7 7"></path>
						</svg>
					</a>
				</div>
				<div class="w-32 h-32 sm:w-40 sm:h-40 sm:order-none order-first sm:ml-10 inline-flex items-center justify-center rounded-md bg-indigo-100 text-indigo-500 flex-shrink-0">
					<Picture
							class="object-cover object-top rounded-md shadow-lg w-full h-auto bg-gray-400 dark:bg-slate-700"
							src={sensory}
							widths={[400, 768]}
							sizes="(max-width: 768px) 100vw, 432px"
							alt="Astronaut"
							aspectRatio="1:1"
						/>
				</div>
			</div>
			<div class="flex items-center lg:w-3/5 mx-auto sm:flex-row flex-col">
				<div class="w-32 h-32 sm:w-40 sm:h-40 sm:mr-10 inline-flex items-center justify-center rounded-md bg-indigo-100 text-indigo-500 flex-shrink-0">
					<Picture
							class="object-cover object-top rounded-md shadow-lg w-full h-auto bg-gray-400 dark:bg-slate-700"
							src={playground}
							widths={[400, 768]}
							sizes="(max-width: 768px) 100vw, 432px"
							alt="Astronaut"
							aspectRatio="1:1"
						/>
				</div>
				<div class="flex-grow sm:text-left text-center mt-6 sm:mt-0 bg-lime-300 rounded-lg p-8">
					<h2 class="text-gray-900 text-lg title-font font-medium mb-2">The 400 Blows</h2>
					<p class="leading-relaxed text-base">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
					<a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
						<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
							<path d="M5 12h14M12 5l7 7-7 7"></path>
						</svg>
					</a>
				</div>
			</div>
		</div> -->
</ContentPattern>
