---
import ContentPattern from '~/components/widgets/ContentPattern.astro';
import { Icon } from 'astro-icon';

const prices = [
	{
		name: 'infant',
		ages: '6 weeks - 12+ months',
		ptPrice: '150',
		ftPrice: '190',
		ratio: '1:4',
		max: '12',
		default: true,
	},
	{
		name: 'one-year',
		ages: '12+ months - 2 years',
		ptPrice: '150',
		ftPrice: '190',
		ratio: '1:4',
		max: '12',
		default: false,
	},
	{
		name: 'two-year',
		ages: '2 years - 3 years',
		ptPrice: '140',
		ftPrice: '180',
		ratio: '1:7',
		max: '12',
		default: false,
	},
	{
		name: 'three-year',
		ages: '3 years - 4 years',
		ptPrice: '130',
		ftPrice: '160',
		ratio: '1:10',
		max: '20',
		default: false,
	},
	{
		name: 'four-year',
		ages: '4 years - 5 years',
		ptPrice: '125',
		ftPrice: '150',
		ratio: '1:12',
		max: '20',
		default: false,
	},
];
---

<ContentPattern title="Our Prices" id="prices" pattern="dots" color="blue">
	<div class="m-auto w-full px-6 md:px-12 lg:px-20 max-w-5xl">
		<div class="m-auto items-center justify-center space-y-6">
			<div class="relative group m-auto">
				<div
					aria-hidden="true"
					class="absolute top-0 w-full h-full rounded-2xl bg-white border-2 border-solid border-blue-300 shadow-lg transition duration-500 scale-[1.01] group-hover:scale-105 lg:group-hover:scale-110"
				>
				</div>
				<div class="relative sm:flex">
					{
						prices.map((card) => (
							<div
								id={`${card.name}-card`}
								class={`flex flex-col place-content-center p-6 pt-8 pb-20 space-y-8 sm:w-7/12 sm:pb-6 ${
									card.default || 'hidden'
								}`}
							>
								<div class="flex flex-col sm:flex-row items-center justify-between mx-4">
									<h5 class="text-xl text-gray-700 font-semibold">Part-Time</h5>
									<div class="relative flex justify-around">
										<div>
											<span class="mr-1 text-xl text-sky-500 font-bold align-top">$</span>
											<span class="text-4xl text-gray-800 font-bold leading-0">{card.ptPrice}</span>
											<span class="text-cyan-500 font-bold">/ week</span>
										</div>
									</div>
								</div>

								<div class="flex flex-col sm:flex-row items-center justify-between mx-4">
									<h5 class="text-xl text-gray-700 font-semibold">Full-Time</h5>
									<div class="relative flex justify-around">
										<div>
											<span class="mr-1 text-xl text-sky-500 font-bold align-top">$</span>
											<span class="text-4xl text-gray-800 font-bold leading-0">{card.ftPrice}</span>
											<span class="text-cyan-500 font-bold">/ week</span>
										</div>
									</div>
								</div>

								<div class="flex flex-col items-center justify-between mx-6">
									<span class="mx-1 font-bold ">teacher/student - {card.ratio} </span>
									<span class="mx-1 font-bold ">max enrollment - {card.max} </span>
								</div>

								<div class="absolute w-full px-6 inset-x-0 bottom-6 sm:static sm:px-0">
									<div id="disclaimer">
										{card.name == 'four-year' &&
											'* Child must be 4 years of age on or before September 15th of enrollment year'}
									</div>
								</div>
							</div>
						))
					}

					<div class="-mt-16 pb-20 sm:w-5/12 sm:mt-0 sm:pb-0">
						<div
							class="relative h-full sm:pt-0 before:absolute before:left-0 before:top-1 before:w-full before:h-0.5 before:my-auto before:rounded-full before:bg-gray-200 sm:before:inset-y-0 sm:before:h-[85%] sm:before:w-0.5"
						>
							<div class="relative h-full -mt-1 pt-7 pb-6 overflow-x-auto sm:-ml-1 sm:pl-1">
								<ul
									class="w-max h-full flex justify-center px-6 space-x-2 sm:w-full sm:flex-col sm:space-x-0 sm:space-y-6 sm:px-8"
								>
									<Icon name="bi:chevron-left" class="h-10 text-sky-600 sm:hidden" />
									{
										prices.map((button) => (
											<li>
												<div class="relative">
													<input
														checked={button.default}
														hidden
														class="peer"
														type="radio"
														name="age"
														id={`${button.name}-button`}
													/>
													<label
														for={`${button.name}-button`}
														class="block w-full cursor-pointer py-2 px-4 text-center text-sky-800 rounded-full bg-sky-50 peer-checked:ring-1 peer-checked:ring-sky-500 peer-checked:text-sky-600"
													>
														<span class="mx-auto text-sm font-semibold">{button.ages}</span>
													</label>
													<div
														aria-hidden="true"
														class="absolute z-[1] top-[-2.20rem] inset-x-0 mx-auto w-6 h-6 rounded-full border-8 border-white bg-sky-500 transition scale-0 peer-checked:scale-100 sm:left-[-2.70rem] sm:inset-y-0 sm:ml-0 sm:my-auto"
													/>
												</div>
											</li>
										))
									}
									<Icon name="bi:chevron-right" class="h-10 text-sky-600 sm:hidden" />
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ul class="text-xl font-extrabold bg-white/40 p-2 rounded-md max-w-4xl text-center md:text-start">
		<li class="mt-2">
			* Part-time is considered up to 20 hours per week, anything over 20 hours is considered Full-time.
		</li>
		<li class="mt-2">
			* To hold your child’s spot, all payments and fees must be paid whether or not your child has attended. This
			includes sick days, holidays, weather closures, etc. One week of vacation is given each year to each family, but
			it does not roll over. We must receive a two-week notice before vacation time is used.
		</li>
		<li class="mt-2">
			* BLT will review fees annually, and families will receive a two-week notice, in writing, of any price
			adjustments.
		</li>
	</ul>
</ContentPattern>

<script>
	const infantTab = document.querySelector("[for='infant-button']");
	const infantCard = document.querySelector('#infant-card');
	infantTab.addEventListener('click', () => {
		infantCard.classList.remove('hidden');
		oneYearCard.classList.add('hidden');
		twoYearCard.classList.add('hidden');
		threeYearCard.classList.add('hidden');
		fourYearCard.classList.add('hidden');
	});

	const oneYearTab = document.querySelector("[for='one-year-button']");
	const oneYearCard = document.querySelector('#one-year-card');
	oneYearTab.addEventListener('click', () => {
		oneYearCard.classList.remove('hidden');
		infantCard.classList.add('hidden');
		twoYearCard.classList.add('hidden');
		threeYearCard.classList.add('hidden');
		fourYearCard.classList.add('hidden');
	});

	const twoYearTab = document.querySelector("[for='two-year-button']");
	const twoYearCard = document.querySelector('#two-year-card');
	twoYearTab.addEventListener('click', () => {
		twoYearCard.classList.remove('hidden');
		infantCard.classList.add('hidden');
		oneYearCard.classList.add('hidden');
		threeYearCard.classList.add('hidden');
		fourYearCard.classList.add('hidden');
	});

	const threeYearTab = document.querySelector("[for='three-year-button']");
	const threeYearCard = document.querySelector('#three-year-card');
	threeYearTab.addEventListener('click', () => {
		threeYearCard.classList.remove('hidden');
		infantCard.classList.add('hidden');
		oneYearCard.classList.add('hidden');
		twoYearCard.classList.add('hidden');
		fourYearCard.classList.add('hidden');
	});

	const fourYearTab = document.querySelector("[for='four-year-button']");
	const fourYearCard = document.querySelector('#four-year-card');
	const disclaimer = document.getElementById('disclaimer');
	fourYearTab.addEventListener('click', () => {
		fourYearCard.classList.remove('hidden');
		infantCard.classList.add('hidden');
		oneYearCard.classList.add('hidden');
		twoYearCard.classList.add('hidden');
		threeYearCard.classList.add('hidden');
		disclaimer.classList.remove('invisible');
	});
</script>
