---
import { Icon } from 'astro-icon';
import ContentColor from '~/components/widgets/ContentColor.astro';
import { Image } from '@astrojs/image/components';

import classroom1 from '~/assets/images/facility/classroom_1.jpg';
import commitment_pic from '~/assets/images/commitment.jpg';
import security_pic from '~/assets/images/security.jpg';
import staff_pic from '~/assets/images/staff.jpeg';
import facility_pic from '~/assets/images/facility.jpeg';

const items = [
	{
		icon: 'ant-design:trophy-filled',
		color: 'FF81A3',
		photoBorder: 'bg-[#FF81A3]',
		photo: commitment_pic,
		title: 'Commitment to Excellence',
		description:
			'At BLT, we are committed to providing high-quality environments for all children in our care. We achieve this by investing in the center to make it a welcoming and nurturing space. We go above and beyond to meet the needs of all of the children and families that we serve. It is our priority to provide EXCELLENT care and to always have open communication with families providing a sense of home.',
	},
	{
		icon: 'mdi:shield-home',
		color: '087BB8',
		photoBorder: 'bg-[#087BB8]',
		photo: security_pic,
		title: 'Security',
		description:
			'Safety and security are a top priority at BLT. Our center has five silent alarm buttons strategically placed within our facility. When activated, police and fire are dispatched in case of any emergency. We also have a secured entrance with tinted windows, outdoor cameras, a fire system complete with pull stations, and an AED machine for pediatric and adult patients. All BLT staff stay up to date in mandatory reporter, CPR, first aid, and universal precautions.', 
	},
	{
		icon: 'fluent:building-retail-24-filled',
		color: '2E8E00',
		photoBorder: 'bg-[#2E8E00]',
		photo: facility_pic,
		title: 'Facility',
		description:
			'BLT has designed a facility conducive to any child’s unique and/or special needs and abilities. Our facility is newly equipped with renovated classrooms, privacy fencing, roofing, HVAC, safety and security advancements, gross motor equipment, resurfaced playgrounds, technology additions, and a state-of-the-art sensory room.',
	},
	{
		icon: 'mdi:account-group',
		color: '321A81',
		photoBorder: 'bg-[#321A81]',
		photo: staff_pic,
		title: 'Staff',
		description:
			'The staff and administration of BLT stay up to date on the latest strategies and curriculum available. BLT staff takes part in regular training as mandated by the state of Iowa and as recommended by our administrative team. All classrooms utilize lesson plans and developmentally appropriate screenings to identify each child’s individual needs and level of development to best facilitate their learning experience.',
	},
];
---

<ContentColor title="Why BLT" id="whyBLT" color="blue">
	<Fragment slot="lead">
		We strongly believe there are thousands of reasons to make us part of your family, but here are a few:
	</Fragment>
	<div class="flex flex-col px-4 md:px-8 gap-6 row-gap-10 lg:flex-row">
		<div class="md:py-6 lg:mt-12 xl:mt-0 md:pr-8 mx-auto">
			{
				items.map((item) => (
					<div class="flex">
						<div class="flex flex-col items-center mr-4">
							<div>
								<div class={`flex items-center justify-center w-12 h-12 rounded-full border-[#087BB8] border-2`}>
									<Icon name={item.icon} class={`w-7 h-7 text-[#${item.color}] icon-bold`} />
								</div>
							</div>
							<div class="w-0.5 h-full bg-[#087BB8]" />
						</div>
						<div class="pt-1 pb-8">
							<div class="w-full">
								<p class={`mb-2 text-3xl md:text-3xl lg:text-4xl font-bold`}>{item.title}</p>
								<Image
									src={item.photo}
									width={220}
									alt="bluffs little thinkers classroom"
									class={`sm:float-right rounded-xl sm:ml-4 my-auto  sm:mb-4 sm:mt-10 lg:mt-0 object-cover p-1 shadow-md shadow-gray-500 ${item.photoBorder}`}
								/>
								<p class="text-lg mt-2 md:text-xl font-semibold">{item.description}</p>
							</div>
						</div>
					</div>
				))
			}
			<div class="flex">
				<div class="flex flex-col items-center mr-4">
					<div>
						<div class="flex items-center justify-center w-12 h-12 rounded-full border-[#087BB8] border-2">
							<Icon name="tabler:check" class="w-7 h-7 text-purple-700 icon-bold" />
						</div>
					</div>
				</div>
				<div class="pt-1">
					<p class="mb-2 text-3xl md:text-3xl lg:text-4xl font-bold">Enroll Today!</p>
				</div>
			</div>
		</div>

		<!-- <div id="why-blt-photo-array" class="md:mt-6 md:py-6 lg:mt-12 xl-mt-0 grid grid-cols-1 grid-rows-4">
			<Image
						src={classroom1}
						width={250}
						alt="bluffs little thinkers classroom"
						class="rounded-lg mx-auto md:float-left md:mr-6 mb-2"
					/>
					<Image
						src={classroom1}
						width={250}
						alt="bluffs little thinkers classroom"
						class="rounded-lg mx-auto md:float-left md:mr-6 mb-2"
					/>
					<Image
						src={classroom1}
						width={250}
						alt="bluffs little thinkers classroom"
						class="rounded-lg mx-auto md:float-left md:mr-6 mb-2"
					/>
					<Image
						src={classroom1}
						width={250}
						alt="bluffs little thinkers classroom"
						class="rounded-lg mx-auto md:float-left md:mr-6 mb-2"
					/>
		</div> -->
		<!-- <div class="photo-array">
			<div class="xl:hidden grid grid-cols-5 grid-rows-4 gap-4 h-fit">
				<div class="col-span-2 row-span-3">
					A
					<img
						src="images/redwhiteblue_girl.jpg"
						class="rounded-xl shadow-md shadow-gray-500"
						width="640"
						height="960"
						alt="shoes"
						loading="lazy"
					/>
				</div>
				<div class="col-span-3 row-span-3 row-start-2 col-start-3">
					B
					<img
						src="images/bubbles_boy.jpg"
						class="w-full h-full object-cover object-top rounded-xl shadow-md shadow-gray-500"
						width="640"
						height="640"
						alt="shoe"
						loading="lazy"
					/>
				</div>
			</div>
			<div class="hidden lg:grid grid-cols-5 grid-rows-4 gap-4 h-fit mt-20">
				<div class="col-span-3 row-span-2">
					C
					<img
						src="/images/scaled.jpg"
						class="w-full h-full object-cover object-top rounded-xl shadow-md shadow-gray-500"
						width="640"
						height="427"
						alt="2"
						loading="lazy"
					/>
				</div>
				<div class="col-span-2 row-span-2">
					D
					<img
						src="images/bubbles_boy.jpg"
						class="w-full h-full object-cover object-top rounded-xl shadow-md shadow-gray-500"
						width="640"
						height="640"
						alt="shoe"
						loading="lazy"
					/>
				</div>
				<div class="col-span-3 row-span-2 row-start-3 col-start-2">
					E
					<img
						src="/images/scaled.jpg"
						class="w-full h-full object-cover object-top rounded-xl shadow-md shadow-gray-500"
						width="640"
						height="427"
						alt="2"
						loading="lazy"
					/>
				</div>
			</div>
		</div> -->
	</div>
</ContentColor>
