---
import { Icon } from 'astro-icon';
import { Image } from '@astrojs/image/components';
import ContentColor from '~/components/widgets/ContentColor.astro';

import commitment_pic from '~/assets/images/why_blt/commitment.jpeg';
import security_pic from '~/assets/images/why_blt/security.jpeg';
import staff_pic from '~/assets/images/why_blt/staff.jpeg';
import facility_pic from '~/assets/images/why_blt/facility.jpeg';
import kitchen_pic from '~/assets/images/why_blt/kitchen.jpeg';
import chalk_pic from '~/assets/images/why_blt/chalk.jpeg';
import art_pic from '~/assets/images/why_blt/art.jpeg';
import play_pic from '~/assets/images/why_blt/play.jpeg';

const items = [
	{
		icon: 'ant-design:trophy-filled',
		color: 'FF81A3',
		photoBorder: 'bg-[#FF81A3]',
		photo: commitment_pic,
		title: 'Commitment to Excellence',
		description:
			'At BLT, we are committed to providing high-quality environments for all children in our care. We achieve this by investing in the center to make it a welcoming and nurturing space. We go above and beyond to meet the needs of all of the children and families that we serve. It is our priority to provide EXCELLENT care and to always have open communication with families providing a sense of home.',
	},
	{
		icon: 'mdi:shield-home',
		color: '087BB8',
		photoBorder: 'bg-[#087BB8]',
		photo: security_pic,
		title: 'Security',
		description:
			'Safety and security are a top priority at BLT. Our center has five silent alarm buttons strategically placed within our facility. When activated, police and fire are dispatched in case of any emergency. We also have a secured entrance with tinted windows, outdoor cameras, a fire system complete with pull stations, and an AED machine for pediatric and adult patients. All BLT staff stay up to date in mandatory reporter, CPR, first aid, and universal precautions.',
	},
	{
		icon: 'fluent:building-retail-24-filled',
		color: '2E8E00',
		photoBorder: 'bg-[#2E8E00]',
		photo: facility_pic,
		title: 'Facility',
		description:
			'BLT has designed a facility conducive to any child’s unique and/or special needs and abilities. Our facility is newly equipped with renovated classrooms, privacy fencing, roofing, HVAC, safety and security advancements, gross motor equipment, resurfaced playgrounds, technology additions, and a state-of-the-art sensory room.',
	},
	{
		icon: 'mdi:account-group',
		color: '321A81',
		photoBorder: 'bg-[#321A81]',
		photo: staff_pic,
		title: 'Staff',
		description:
			'The staff and administration of BLT stay up to date on the latest curriculum and strategies available. BLT staff take part in regular training as mandated by the state of Iowa and as recommended by our administrative team. All classrooms utilize lesson plans and developmentally appropriate screenings to identify each child’s individual needs and level of development to best facilitate their learning experience.',
	},
];
---

<ContentColor title="Why BLT" id="whyBLT" color="blue">
	<Fragment slot="lead">
		We strongly believe there are thousands of reasons to make us part of your family, but here are a few:
	</Fragment>
	<div class="flex flex-col px-4 md:px-8 gap-6 row-gap-10 lg:flex-row">
		<div class="md:py-6 lg:mt-12 xl:mt-0 md:pr-8 mx-auto">
			{
				items.map((item) => (
					<div class="flex">
						<div class="flex flex-col items-center mr-4">
							<div>
								<div class={`flex items-center justify-center w-12 h-12 rounded-full border-[#087BB8] border-2`}>
									<Icon name={item.icon} class={`w-7 h-7 text-[#${item.color}] icon-bold`} />
								</div>
							</div>
							<div class="w-0.5 h-full bg-[#087BB8]" />
						</div>
						<div class="pt-1 pb-8">
							<div class="w-full">
								<p class={`mb-2 text-3xl md:text-3xl lg:text-4xl font-bold`}>{item.title}</p>
								<Image
									src={item.photo}
									width={220}
									alt="bluffs little thinkers classroom"
									class={`sm:float-right rounded-xl sm:ml-4 my-auto  sm:mb-4 sm:mt-10 lg:mt-0 object-cover p-1 shadow-md shadow-gray-500 ${item.photoBorder}`}
								/>
								<p class="text-lg mt-2 md:text-xl font-semibold">{item.description}</p>
							</div>
						</div>
					</div>
				))
			}
			<div class="flex">
				<div class="flex flex-col items-center mr-4">
					<div>
						<div class="flex items-center justify-center w-12 h-12 rounded-full border-[#087BB8] border-2">
							<Icon name="tabler:check" class="w-7 h-7 text-purple-700 icon-bold" />
						</div>
					</div>
				</div>
				<div class="pt-1">
					<p class="mb-2 text-3xl md:text-4xl lg:text-5xl font-bold">Enroll Today!</p>
				</div>
			</div>
		</div>
	</div>
	<!-- bottom images -->
	<div class="w-full mt-12 md:pb-12">
		<div class="mx-auto flex flex-wrap gap-y-8 justify-around">
			<div class="hidden md:block bg-gray-50 rounded-sm shadow-md shadow-gray-500 px-4 pt-3 pb-14 -rotate-6 hover:scale-110 hover:rotate-0 hover:z-10 hover:md:translate-x-12 hover:shadow-lg hover:shadow-gray-700 transition duration-600 ease-out">
				<span class="shadow-inner shadow-black">
					<Image src={chalk_pic} width={300} height={300} alt="girl doing sidewalk chalk" class={`bg-white shadow-inner`} />
				</span>
			</div>
			<div class="bg-gray-50 rounded-sm shadow-md shadow-gray-500 px-4 pt-3 pb-14 rotate-6 translate-y-6 z-[7] hover:scale-110 hover:rotate-0 hover:z-[15] hover:shadow-lg hover:shadow-gray-700 transition duration-600 ease-out">
				<span class="shadow-inner shadow-black">
					<Image src={kitchen_pic} width={300} height={300} alt="boys playing with kitchen set" class={`bg-white shadow-inner`} />
				</span>
			</div>
			<div class="bg-gray-50 rounded-sm shadow-md shadow-gray-500 px-4 pt-3 pb-14 lg:-translate-y-10 hover:scale-110 hover:rotate-0 hover:z-10 hover:shadow-lg hover:shadow-gray-700 transition duration-600 ease-out">
				<span class="shadow-inner shadow-black">
					<Image src={art_pic} width={300} height={300} alt="girl doing arts and crafts" class={`bg-white shadow-inner`} />
				</span>
			</div>
			<div class="hidden md:block bg-gray-50 rounded-sm shadow-md shadow-gray-500 px-4 pt-3 pb-14 rotate-12 translate-y-6 hover:scale-110 hover:rotate-0 hover:z-10 hover:md:-translate-x-12 hover:shadow-lg hover:shadow-gray-700 transition duration-600 ease-out">
				<span class="shadow-inner shadow-black">
					<Image src={play_pic} width={300} height={300} alt="boy on scooter" class={`bg-white shadow-inner`} />
				</span>
			</div>
			
		</div>
	</div>
</ContentColor>
