---
import Layout from '~/layouts/BaseLayout.astro';
import PagePattern from '~/components/widgets/PagePattern.astro';

const classes = {
	text: 'w-full mt-1 bg-blue-100 rounded border border-[#321A81] focus:border-[#321A81] focus:ring-2 focus:ring-[#321A81] text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out',
	label: 'block text-md font-semibold',
	button:
		'shadow shadow-gray-500 text-white font-semibold bg-[#FF81A3] disabled:bg-pink-300 border-0 py-2 px-3 focus:outline-none hover:bg-[#eb6085] rounded text-lg',
	radio: 'h-4 w-4 mr-3 border-[#321A81] focus:border-[#321A81] text-[#321A81] focus:ring-2 focus:ring-[#321A81]',
	cardBody: 'col-span-6 row-span-4 row-start-1 w-full flex flex-col place-content-center mx-auto space-y-2',
	cardPrompt: 'mb-2 text-xl md:text-2xl lg:text-3xl font-bold text-center',
	cardGrid: 'grid grid-cols-6 gap-1 sm:gap-y-2 sm:gap-x-4 md:gap-4 lg:gap-6',
	span2: 'col-span-2',
	span3: 'col-span-3',
	span6: 'col-span-6',
	span662: 'col-span-6 sm:col-span-6 lg:col-span-2',
	span632: 'col-span-6 sm:col-span-3 lg:col-span-2',
	span63: 'col-span-6 sm:col-span-3',
	span64: 'col-span-6 sm:col-span-4',
};
---

<Layout>
	<PagePattern title="Join our team" id="application" pattern="wiggles" color="pink">
		<p class="text-xl sm:text-2xl md:text-2xl font-semibold text-center mb-4">
			Apply today to join the Bluff's Little Thinkers family!
		</p>
		<div class="h-full container max-w-4xl mx-auto px-4 md:px-8 lg:px-12">
			<!-- Questions -->
			<form
				name="Employment Application"
				action="/apply-success"
				method="POST"
				data-netlify="true"
				netlify-honeypot="bot-field"
				class="bg-white flex-col h-auto p-6 rounded-2xl shadow-md shadow-gray-500 md:gap-2 justify-center lg:items-center"
			>
				<!-- Honeypot -->
				<p class="hidden">
					<label>
						Don’t fill this field if you are a human user: <input name="bot-field" />
					</label>
				</p>
				<!-- name card -->
				<div id="name-card" data-default class={`${classes.cardBody} active`}>
					<p class={classes.cardPrompt}>What is your full name?</p>
					<div class={classes.cardGrid}>
						<div class={classes.span63}>
							<label for="fname" class={classes.label}>First</label>
							<input type="text" id="fname" name="fname" minlength="3" maxlength="25" class={classes.text} />
						</div>
						<div class={classes.span63}>
							<label for="mname" class={classes.label}>Middle</label>
							<input type="text" id="mname" name="mname" minlength="1" maxlength="25" class={classes.text} />
						</div>
						<div class={classes.span63}>
							<label for="lname" class={classes.label}>Last</label>
							<input type="text" id="lname" name="lname" minlength="3" maxlength="25" class={classes.text} />
						</div>
						<div class={classes.span63}>
							<label for="pname" class={classes.label}>Preferred Name</label>
							<input type="text" id="pname" name="pname" minlength="3" maxlength="25" class={classes.text} />
						</div>
					</div>
				</div>
				<!-- contact card -->
				<div id="contact-card" class={`${classes.cardBody} hidden`}>
					<p class={classes.cardPrompt}>How may we contact you?</p>
					<div class={classes.cardGrid}>
						<div class={classes.span63}>
							<label for="tel" class={classes.label}>Phone</label>
							<input type="tel" id="phone" name="phone" class={classes.text} />
						</div>
						<div class={classes.span63}>
							<label for="email" class={classes.label}>Email</label>
							<input type="email" id="email" name="email" class={classes.text} />
						</div>
					</div>
				</div>
				<!-- address card -->
				<div id="address-card" class={`${classes.cardBody} hidden`}>
					<p class={classes.cardPrompt}>What is your home address?</p>
					<div class={classes.cardGrid}>
						<div class={classes.span6}>
							<label for="add1" class={classes.label}>Street Address</label>
							<input type="text" id="add1" name="add1" class={classes.text} />
						</div>
						<div class={classes.span63}>
							<label for="add2" class={classes.label}>Address Line 2</label>
							<input type="text" id="add2" name="add2" class={classes.text} />
						</div>
						<div class={classes.span63}>
							<label for="city" class={classes.label}>City</label>
							<input type="text" id="city" name="city" class={classes.text} />
						</div>
						<div class={classes.span63}>
							<label for="state" class={classes.label}>State</label>
							<input type="text" id="state" name="state" class={classes.text} />
						</div>
						<div class={classes.span63}>
							<label for="zip" class={classes.label}>Zipcode</label>
							<input type="text" id="zip" name="zip" class={classes.text} />
						</div>
					</div>
				</div>
				<!-- prerequisites -->
				<div id="prereqs" class={`${classes.cardBody} hidden`}>
					<fieldset name="over 18">
						<legend class={classes.cardPrompt}>Are you 18 years of age or older?</legend>
						<div class={classes.cardGrid}>
							<div class={`${classes.span3} flex justify-end items-center`}>
								<label class={classes.label}>
									<input name="over-eighteen" type="radio" class={classes.radio} value="yes" />Yes
								</label>
							</div>
							<div class={`${classes.span3} flex justify-start items-center`}>
								<label class={classes.label}>
									<input name="over-eighteen" type="radio" class={classes.radio} value="no" />No
								</label>
							</div>
						</div>
					</fieldset>
					<fieldset name="authorized/citizen">
						<legend class={classes.cardPrompt}>Are you a citizen of or authorized to work in the U.S.?</legend>
						<div class={classes.cardGrid}>
							<div class={`${classes.span3} flex justify-end items-center`}>
								<label class={classes.label}>
									<input
										name="authorized-citizen"
										type="radio"
										class={classes.radio}
										value="yes"
									/>Yes
								</label>
							</div>
							<div class={`${classes.span3} flex justify-start items-center`}>
								<label class={classes.label}>
									<input name="authorized-citizen" type="radio" class={classes.radio} value="no" />No
								</label>
							</div>
						</div>
					</fieldset>
				</div>
				<!-- age verification -->
				<div id="age-verify" class={`${classes.cardBody} hidden`}>
					<p class={classes.cardPrompt}>What is your date of birth?</p>
					<div class={classes.cardGrid}>
						<div class={classes.span6}>
							<label for="dob" class={classes.label}>Date of birth</label>
							<input type="date" id="dob" class={classes.text} name="dob" min="1950-01-01" max="2005-01-01" />
						</div>
					</div>
				</div>
				<!-- transportation -->
				<div id="transportation" class={`${classes.cardBody} hidden`}>
					<p class={classes.cardPrompt}>Do you have reliable transportation?</p>
					<fieldset>
						<div class={classes.cardGrid}>
							<div class={`${classes.span3} flex justify-end items-center`}>
								<input id="trans-yes" name="transportation" type="radio" class={classes.radio} />
								<label for="trans-yes" class={classes.label}>Yes</label>
							</div>
							<div class={`${classes.span3} flex justify-start items-center`}>
								<input id="trans-no" name="transportation" type="radio" class={classes.radio} />
								<label for="trans-no" class={classes.label}>No</label>
							</div>
						</div>
					</fieldset>
				</div>
				<!-- convictions -->
				<div id="transportation" class={`${classes.cardBody} hidden`}>
					<p class={classes.cardPrompt}>Have you ever been convicted of a felony?</p>
					<fieldset>
						<div class={classes.cardGrid}>
							<div class={`${classes.span3} flex justify-end items-center`}>
								<input id="convict-yes" name="convictions" type="radio" class={classes.radio} />
								<label for="convict-yes" class={classes.label}>Yes</label>
							</div>
							<div class={`${classes.span3} flex justify-start items-center`}>
								<input id="convict-no" name="convictions" type="radio" class={classes.radio} />
								<label for="convict-no" class={classes.label}>No</label>
							</div>
						</div>
					</fieldset>
				</div>
				<!-- prior experience -->
				<div id="transportation" class={`${classes.cardBody} hidden`}>
					<p class={classes.cardPrompt}>Have you worked in childcare before?</p>
					<fieldset>
						<div class={classes.cardGrid}>
							<div class={`${classes.span3} flex justify-end items-center`}>
								<input id="childcare-yes" name="childcare" type="radio" class={classes.radio} />
								<label for="childcare-yes" class={classes.label}>Yes</label>
							</div>
							<div class={`${classes.span3} flex justify-start items-center`}>
								<input id="childcare-no" name="childcare" type="radio" class={classes.radio} />
								<label for="childcare-no" class={classes.label}>No</label>
							</div>
						</div>
					</fieldset>
					<p class={classes.cardPrompt}>If so, at which facility?</p>
					<div class={classes.cardGrid}>
						<div class={classes.span6}>
							<label for="previous-center" class={classes.label}>Name of center</label>
							<input type="text" id="previous-center" name="previous-center" class={classes.text} />
						</div>
						<div class={classes.span63}>
							<label for="previous-center-city" class={classes.label}>City</label>
							<input type="text" id="previous-center-city" name="previous-center-city" class={classes.text} />
						</div>
						<div class={classes.span63}>
							<label for="previous-center-state" class={classes.label}>State</label>
							<input type="text" id="previous-center-state" name="previous-center-state" class={classes.text} />
						</div>
					</div>
				</div>
				<!-- referral -->
				<div id="referral" class={`${classes.cardBody} hidden`}>
					<p class={classes.cardPrompt}>Where you referred to this position?</p>
					<div class={classes.cardGrid}>
						<div class={classes.span6}>
							<label for="referrer" class={classes.label}>Name of referrer</label>
							<input type="text" id="referrer" name="referrer" class={classes.text} />
						</div>
					</div>
				</div>
				<!-- hours -->
				<div id="" class={`${classes.cardBody} hidden`}>
					<p class={classes.cardPrompt}>What type of hours are you seeking?</p>
					<fieldset>
						<div class={classes.cardGrid}>
							<div class={`${classes.span3} flex justify-end items-center`}>
								<input id="full-time" name="full-time" type="radio" class={classes.radio} />
								<label for="full-time" class={classes.label}>Full-time</label>
							</div>
							<div class={`${classes.span3} flex justify-start items-center`}>
								<input id="part-time" name="part-time" type="radio" class={classes.radio} />
								<label for="part-time" class={classes.label}>Part-time</label>
							</div>
						</div>
					</fieldset>
					<p class={classes.cardPrompt}>When are you availabile?</p>
					<div class={classes.cardGrid}>
						<div class={classes.span6}>
							<label for="availability" class={classes.label}>Availability</label>
							<textarea id="availability" class={classes.text} name="availability" rows="5" cols="33"></textarea>
						</div>
					</div>
				</div>

				<!-- education -->
				<div id="" class={`${classes.cardBody} hidden`}>
					<p class={classes.cardPrompt}>Did you graduate high school?</p>
					<fieldset>
						<div class={classes.cardGrid}>
							<div class={`${classes.span3} flex justify-end items-center`}>
								<input id="highschool-yes" name="highschool" type="radio" class={classes.radio} />
								<label for="highschool-yes" class={classes.label}>Yes</label>
							</div>
							<div class={`${classes.span3} flex justify-start items-center`}>
								<input id="highschool-no" name="highschool" type="radio" class={classes.radio} />
								<label for="highschool-no" class={classes.label}>No</label>
							</div>
						</div>
					</fieldset>
					<p class={classes.cardPrompt}>Do you have any college experience?</p>
					<fieldset>
						<div class={classes.cardGrid}>
							<div class={`${classes.span6} flex items-center`}>
								<input id="college-none" name="college" type="radio" class={classes.radio} />
								<label for="college-none" class={classes.label}>None</label>
							</div>
							<div class={`${classes.span6} flex items-center`}>
								<input id="college-some" name="college" type="radio" class={classes.radio} />
								<label for="college-some" class={classes.label}>Some</label>
							</div>
							<div class={`${classes.span6} flex items-center`}>
								<input id="college-two-year" name="college" type="radio" class={classes.radio} />
								<label for="college-two-year" class={classes.label}>2 year degree</label>
							</div>
							<div class={`${classes.span6} flex items-center`}>
								<input id="college-four-year" name="college" type="radio" class={classes.radio} />
								<label for="college-four-year" class={classes.label}>4 year degree</label>
							</div>
							<div class={`${classes.span6} flex items-center`}>
								<input id="college-in-progress" name="college" type="radio" class={classes.radio} />
								<label for="college-in-progress" class={classes.label}>Degree in progress</label>
							</div>
						</div>
					</fieldset>
				</div>
				<!-- comments -->
				<div id="" class={`${classes.cardBody} hidden final`}>
					<p class={classes.cardPrompt}>Do you have any questions or comments?</p>
					<div class={classes.cardGrid}>
						<div class={classes.span6}>
							<label for="feedback" class={classes.label}>Comments</label>
							<textarea id="feedback" class={classes.text} name="feedback" rows="5" cols="33"></textarea>
						</div>
					</div>
				</div>
				<!-- Control buttons -->
				<div class="w-full flex flex-row items-center justify-between pt-8">
					<button id="back-btn" type="button" class={classes.button}>Back</button>
					<button id="next-btn" type="button" class={classes.button}>Next</button>
					<button
						id="submit-btn"
						type="submit"
						class="hidden shadow shadow-black text-white font-semibold bg-[#FF81A3] border-0 py-2 px-6 focus:outline-none hover:bg-[#eb6085] rounded text-lg"
						>Submit</button
					>
				</div>
				<!-- form container end -->
			</form>
		</div>
	</PagePattern>
</Layout>

<script>
	const backBtn = document.getElementById('back-btn');
	const nextBtn = document.getElementById('next-btn');
	const submitBtn = document.getElementById('submit-btn');

	(function () {
		let currentCard = document.getElementsByClassName('active')[0];
		if (currentCard.hasAttribute('data-default')) {
			backBtn.setAttribute('disabled', '');
		}
	})();

	backBtn.addEventListener('click', () => {
		let currentCard = document.getElementsByClassName('active')[0];
		let previousCard = currentCard.previousElementSibling;
		if (previousCard.hasAttribute('data-default')) {
			backBtn.setAttribute('disabled', '');
		}
		if (currentCard.classList.contains('final')) {
			if (nextBtn.classList.contains('hidden')) {
				nextBtn.classList.remove('hidden');
			}
			if (!submitBtn.classList.contains('hidden')) {
				submitBtn.classList.add('hidden');
			}
		}
		if (previousCard != null) {
			currentCard.classList.add('hidden');
			currentCard.classList.remove('active');
			previousCard.classList.add('active');
			previousCard.classList.remove('hidden');
		}
	});

	nextBtn.addEventListener('click', () => {
		console.log('next clicked');
		let currentCard = document.getElementsByClassName('active')[0];
		let nextCard = currentCard.nextElementSibling;

		if (currentCard.hasAttribute('data-default')) {
			backBtn.removeAttribute('disabled');
		}
		if (nextCard.classList.contains('final')) {
			nextBtn.classList.add('hidden');
			submitBtn.classList.remove('hidden');
		}
		if (nextCard != null) {
			currentCard.classList.add('hidden');
			currentCard.classList.remove('active');
			nextCard.classList.add('active');
			nextCard.classList.remove('hidden');
		}
	});
</script>
