---
import Layout from '~/layouts/BaseLayout.astro';

const fieldGroups = [
	{
		name: 'name',
		prompt: 'What is your name?',
		fields: [
			{
				name: 'fname',
				label: 'First',
				reqired: true,
				type: 'text',
				id: 'fname',
				attr: { minlenth: '3', maxlength: '25' },
			},
			{
				name: 'mname',
				label: 'Middle',
				required: false,
				type: 'text',
				id: 'mname',
				attr: { minlenth: '3', maxlength: '25' },
			},
			{
				name: 'lname',
				label: 'Last',
				required: true,
				type: 'text',
				id: 'lname',
				attr: { minlenth: '3', maxlength: '25' },
			},
		],
		//Follow up question "Do you go by any other names?"
		//Radio Yes/No
		//If yes, text input for allias
		active: true,
		default: true,
	},
	{
		name: 'contact',
		prompt: 'How may we contact you?',
		fields: [
			{ name: 'phone', label: 'Phone', required: true, type: 'tel', id: 'phone', attr: {} },
			{ name: 'email', label: 'Email', required: true, type: 'email', id: 'email', attr: {} },
		],
		//Follow up question "Do you prefer email or phone contact?"
		//Radio Phone/Email
	},
	{
		name: 'address',
		prompt: 'What is your home address?',
		fields: [
			{ name: 'add1', label: 'Street Address', type: 'text', id: 'add1', attr: { minlength: '7', maxlength: '40' } },
			{ name: 'add2', label: 'Address Line 2', type: 'text', id: 'add2', attr: { minlength: '7', maxlength: '40' } },
			{ name: 'city', label: 'City', type: 'text', id: 'city', attr: { minlength: '7', maxlength: '40' } },
			{ name: 'state', label: 'State', type: 'text', id: 'state', attr: { minlength: '7', maxlength: '40' } },
			{ name: 'zip', label: 'Zip Code', type: 'number', id: 'zip', attr: { minlength: '5', maxlength: '5' } },
		],
		//Follow up question if not in Sioux City, Sergeant Bluff, or South Sioux
		//Do you have reliable transportation?
		//Radio yes/no
	},
	{
		name: 'age-verification',
		prompt: 'Are you 18 years of age or older?',
		fields: [
			{ name: 'ageVerify', label: 'Yes', type: 'radio', id: 'over18', attr: { value: 'yes' } },
			{ name: 'ageVerify', label: 'No', type: 'radio', id: 'over18', attr: { value: 'no' } },
		],
		//If No, alert they are not old enough for employment
	},
	{
		name: 'date-of-birth',
		prompt: 'Please enter your date of birth.',
		fields: [{ name: 'dateOfBirth', label: 'Birthdate', type: 'date', id: 'dob', attr: {} }],
	},
	{
		name: 'citizenship',
		prompt: 'Are you a citizen of the United States?',
		fields: [
			{ name: 'citizenship', label: 'Yes', type: 'radio', id: 'citizen', attr: { value: 'yes' } },
			{ name: 'citizenship', label: 'No', type: 'radio', id: 'citizen', attr: { value: 'no' } },
		],
	},
	{
		name: 'referral',
		propmt: 'How did you hear about this position?',
		fields: [
			{
				name: 'referral',
				label: 'Source',
				type: 'select',
				id: 'referallSource',
				options: [
					{ value: 'facebook', text: 'Facebook' },
					{ value: 'employee', text: 'Employee' },
				],
				attr: {},
			},
		],
		//Follow up if employee: Name of employee who referred you:
		//text input
	},
	{
		name: 'previous-childcare-exp',
		prompt: 'Have you worked in childcare previously?',
		fields: [
			{ name: 'previousExp', label: 'Yes', type: 'radio', id: 'previousExp', attr: { value: 'yes' } },
			{ name: 'previousExp', label: 'No', type: 'radio', id: 'previousExp', attr: { value: 'no' } },
		],
		//Follow up if yes: What is the name and location of previous facility?
		//text input
	},
	{
		name: 'questions-comments',
		prompt: 'Do you have any questions or comments about the application proccess?',
		fields: [{ name: 'questions', label: 'Comments', type: 'text-area', id: 'questions', attr: {} }],
		final: true,
	},
];

const classes = {
	text: 'w-full bg-white rounded border border-[#321A81] focus:border-[#321A81] focus:ring-2 focus:ring-[#321A81] text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out',
	tel: 'w-full bg-white rounded border border-[#321A81] focus:border-[#321A81] focus:ring-2 focus:ring-[#321A81] text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out',
	email:
		'w-full bg-white rounded border border-[#321A81] focus:border-[#321A81] focus:ring-2 focus:ring-[#321A81] text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out',
	button:
		'shadow shadow-gray-500 text-white font-semibold bg-[#FF81A3] disabled:bg-pink-300 border-0 py-2 px-6 focus:outline-none hover:bg-[#eb6085] rounded text-lg',
};
---

<Layout>
	<div
		class="min-h-screen"
		style={`background-color: #ffffff;
		background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23BAE6FD' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");`}
	>
		<div class="container max-w-5xl mx-auto p-4 md:p-8 lg:p-12">
			<progress class="progress progress-primary w-full px-8" value="15" max="100"></progress>
			<!-- Info view -->
			<div
				class="bg-white my-7 p-6 rounded-2xl shadow-md shadow-gray-500 space-y-6 md:gap-6 justify-center md:space-y-0 lg:items-center"
			>
				Form
			</div>
			<!-- Questions -->
			<form
				name="application"
				action="/apply-success"
				method="POST"
				data-netlify="true"
				class="bg-white my-7 p-6 rounded-2xl shadow-md shadow-gray-500 space-y-6 md:gap-6 justify-center md:space-y-0 lg:items-center"
			>
				{
					fieldGroups.map((group) => (
						<div
							id={`${group.name}-card`}
							data-default={group.default}
							class={`flex flex-col place-content-center p-6 pt-8 pb-20 space-y-8 sm:w-7/12 sm:pb-6 ${
								group.active ? 'active' : 'hidden'
							} ${group.final && 'final'}`}
						>
							{group.prompt}
							<div>
								{group.fields.map((field) => {
									let inputEl = (
										<input id={field.id} name={field.name} {...field.attr} type={field.type} class={classes.text} />
									);

									return (
										<div>
											<label for={field.name}>{field.label}</label>
											{inputEl}
										</div>
									);
								})}
							</div>
						</div>
					))
				}
				<div class="flex justify-between">
					<button id="back-btn" type="button" class={classes.button}>Back</button>
					<button id="next-btn" type="button" class={classes.button}>Next</button>
					<button
						id="submit-btn"
						type="submit"
						class="hidden shadow shadow-black text-white font-semibold bg-[#FF81A3] border-0 py-2 px-6 focus:outline-none hover:bg-[#eb6085] rounded text-lg"
						>Submit</button
					>
				</div>
			</form>
		</div>
	</div>
</Layout>

<script>
	const backBtn = document.getElementById('back-btn');
	const nextBtn = document.getElementById('next-btn');
	const submitBtn = document.getElementById('submit-btn');

	(function () {
		let currentCard = document.getElementsByClassName('active')[0];
		if (currentCard.hasAttribute('data-default')) {
			backBtn.setAttribute('disabled', '');
		}
	})();

	backBtn.addEventListener('click', () => {
		console.log('back clicked');
		let currentCard = document.getElementsByClassName('active')[0];
		let previousCard = currentCard.previousElementSibling;
		if (previousCard.hasAttribute('data-default')) {
			backBtn.setAttribute('disabled', '');
		}
		if (currentCard.classList.contains('final')) {
			if (nextBtn.classList.contains('hidden')) {
				nextBtn.classList.remove('hidden');
			}
			if (!submitBtn.classList.contains('hidden')) {
				submitBtn.classList.add('hidden');
			}
		}
		if (previousCard != null) {
			currentCard.classList.add('hidden');
			currentCard.classList.remove('active');
			previousCard.classList.add('active');
			previousCard.classList.remove('hidden');
		}
	});

	nextBtn.addEventListener('click', () => {
		console.log('next clicked');
		let currentCard = document.getElementsByClassName('active')[0];
		let nextCard = currentCard.nextElementSibling;
		if (currentCard.hasAttribute('data-default')) {
			backBtn.removeAttribute('disabled');
		}
		if (nextCard.classList.contains('final')) {
			nextBtn.classList.add('hidden');
			submitBtn.classList.remove('hidden');
		}
		if (nextCard != null) {
			currentCard.classList.add('hidden');
			currentCard.classList.remove('active');
			nextCard.classList.add('active');
			nextCard.classList.remove('hidden');
		}
	});
</script>
